.projects {
    padding: 3rem;
}

.title {
    font-weight: 600;
    font-size: 2rem;
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn1 {
    --hover-shadows: 12px 12px 28px #121212, -12px -12px 28px #303030;
    font-weight: bold;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: #212121;
    cursor: pointer;
    color: white;
    padding: 0.5rem 1rem;
    transition: 500ms;
}

.btn1:hover {
    box-shadow: var(--hover-shadows);
    transition: 500ms;
}

.btn1:active {
    box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
    background-color: var(--accent);
    transform: scale(0.95);
}

.project-card {
    margin: 2rem;
    width: 20rem;
    height: 17rem;
    background-color: #212121;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.4s;
}

.project-card:hover {
    transform: scale(1.1);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content img {
    width: 19rem;
    height: 10rem;
    border-radius: 4px;
}

.project-title {
    font-weight: 600;
    font-size: medium;
    padding: 3px;
    margin-left: 0.4rem;
}

.btns {
    display: flex;
    margin-left: 0.5rem;
    gap: 0.7rem;

}

.bt1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444857;
    transition: .2s all ease-in-out;
    padding-right: 4px;
}

.bt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444857;
    transition: .2s all ease-in-out;
    padding-right: 4px;
}

.bt3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444857;
    transition: .2s all ease-in-out;
    padding-right: 4px;
}
.bt4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444857;
    transition: .2s all ease-in-out;
    padding-right: 4px;
}

.text {
    font-family: Poppins;
    font-size: small;
    margin-left: 0.25em;
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.demo {
    margin-top: 1rem;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
}

.live {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.btn-text {
    position: absolute;
    width: 0%;
    padding-left: 1.2rem;
    opacity: 0;
    color: #303030;
    font-size: 1.2em;
    font-family: Kanit;
    font-weight: 600;
    transition-duration: .3s;
}

.demo:hover {
    width: 70px;
    border-radius: 35px;
    transition-duration: .5s;
    background-color: white;
}

.demo:hover .live {
    width: 30%;
    transition-duration: .3s;
    padding-left: 4px;
    color: #303030;
}

.demo:hover .btn-text {
    opacity: 1;
    width: 80%;
    transition-duration: .3s;
    margin-left: 3px;
}

.demo:active {
    transform: translate(2px, 2px);
}

.code {
    margin-top: 1.2rem;
    margin-left: 60%;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    color: #fff;
}

.icon {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.txt {
    position: absolute;
    width: 0%;
    padding-left: 1.4rem;
    opacity: 0;
    color: #303030;
    font-size: 1.2em;
    font-family: Kanit;
    font-weight: 600;
    transition-duration: .3s;
}

.code:hover {
    width: 70px;
    border-radius: 35px;
    transition-duration: .5s;
    background-color: white;
}

.code:hover .icon {
    width: 30%;
    transition-duration: .3s;
    padding-left: 4px;
    color: #303030;
}

.code:hover .txt {
    opacity: 1;
    width: 80%;
    transition-duration: .3s;
    margin-left: 3px;
}

.code:active {
    transform: translate(2px, 2px);
}


@media (max-width: 750px){
    .projects{
        padding-bottom: 5rem;
        
    }
    .project-card{
        margin-left: 15%;
    }
}